{% extends 'main.html' %}
{% block content %}
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
        <h2 class="message__subject">{{ message.subject }}</h4>
          {% if message.sender %}
            <a href="{% url 'user-profile' message.sender.id %}" class="message__author">{{ message.sender }}</a>
          {% else %}
            <span class="message__author">Anonymous</span>
          {% endif %}
          <p class="message__date">{{ message.date_sent }}</p>
          <div class="message__body">
            {{ message.body|linebreaksbr }}
          </div>
      </div>
    </div>
  </main>
{% endblock content %}
